html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: white;
	text-align: center;
	font-family: '微软雅黑';
}
ul,li,h1,h2,h3,h4,h5,p{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
	display: inline-block;
}
#all {
	width: 100%;
	height: 100%;
	background-color: rgb(240,240,240);
}
@media screen and (min-width: 720px) {
	body {
		width: 720px;
		margin: 0 auto;
		position: relative;
	}
}
.header{
	width: 100%;
	height: 15%;
	background-color: red;
}
.content{
	width: 96%;
	/*height: 85%;*/
	margin-left: 2%;
}
.content ul{
	width: 100%;
	font-size: 0;
	padding-top: 30px;
}
.content ul li{
	font-size: 14px;
	width: 30%;
	background-color: white;
	border-radius: 5px;
}
.content ul li:nth-child(1){
	margin-right: 5%;
}
.content ul li:nth-child(2){
	margin-right: 5%;
}
.polishedrice,.germinatedrice,.brownrice{
	width: 100%;
}
.introduce{
	width: 70%;
	float: left;
}
.add{
	width: 30%;
	float: right;
}
.add span{
	display: inline-block;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: orange;
	color: white;
	line-height: 30px;
	margin-top: 5px;
	font-size: 18px;
}
.order{
	width: 100%;
	height: 15%;
	background-color: white;
	margin-top: 30px;
	text-align: left;
}
