body,html{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
.address{
	width: 100%;
	height: 100%;
}
.address ul{
	margin: 0;
	padding: 0;
	width: 100%;
}
.address ul li{
	width: 100%;
	height: 8rem;
	background-color: white;
	margin-bottom: 1rem;
}
.new_address{
	width: 90%;
	height: 4rem;
	margin-left: 5%;
	position: absolute;
	bottom: 6rem;
	background-color: rgb(220,0,12);
	text-align: center;
	color: white;
	font-size: 1.6rem;
	line-height: 4rem;
}
